<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 메인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <header>
        <div class = "container">
            <a href="/join">회원 등록</a>
        </div>
    </header>
    <main class = "container">
        <h1>게시글 목록</h1>
        <ul>
            <li>글</li>
            <li>글</li>
            <li>글</li>
            <li>글</li>
        </ul>
    </main>
</body>
</html>