<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
</head>
<body>
    <main class = "container">
        <article>
            <h1>로그인 화면</h1>
            <form action="/login" method="post">
                <input type="text" name="id" required>
                <input type="password" name="pw" required>
                <input type="submit" value="로그인">
            </form>
        </article>
          
    </main>
</body>
</html>